body {
  font-family: Arial, sans-serif;
  background-color: rgb(255, 179, 0);
}

.container {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgb(85, 85, 85),
    inset -5px -5px 20px rgb(255, 255, 255),
    inset 5px 5px 20px rgb(255, 255, 255);
  border: 10px solid rgb(255, 179, 0);
}

h1 {
  margin-bottom: 20px;
  background-image: linear-gradient(
    to right bottom,
    #0f0,
    rgb(255, 0, 0),
    rgb(200, 0, 255)
  );
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: #333;
}

label {
  font-style: italic;
  display: block;
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
}

input[type="date"] {
  width: 90%;
  height: 30px;
  cursor: text;
  padding: 8px;
  font-size: 18px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-radius: 8px;
  background-color: rgb(255, 179, 0);
  border: none;
  box-shadow: inset 5px 5px 10px rgb(129, 129, 129),
    inset -5px -5px 10px rgb(255, 255, 255);
}
input[type="date"]:focus {
  outline: none;
}
button {
  font-size: 1rem;
  background-color: rgb(255, 179, 0);
  color: rgb(0, 0, 0);
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgb(85, 85, 85), -3px -3px 10px rgb(255, 255, 255);
}

#result {
  margin-top: 20px;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 5px;
}
